export(ddsPLS)
S3method(plot, ddsPLS)
S3method(predict, ddsPLS)
S3method(summary, ddsPLS)
importFrom(Rcpp,sourceCpp)
useDynLib(ddsPLS2)
importFrom(parallel,makeCluster,stopCluster)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,"%dopar%","%do%")
importFrom("graphics", "abline", "axis", "barplot", "layout", "legend",
           "matplot", "par", "points", "text")
importFrom("stats", "predict", "sd")
