export(bootstrapWrap)
export(ddsPLS)
S3method(plot, ddsPLS)
S3method(predict, ddsPLS)
S3method(summary, ddsPLS)
importFrom(Rcpp,sourceCpp)
importFrom(RcppEigen)
useDynLib(ddsPLS2)
importFrom(doParallel,registerDoParallel)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(foreach,"%dopar%")
importFrom(foreach,"%do%")
